<div class="content">
  <div class="card animated fadeInLeft">
    <div class="card-header">
      About this application
    </div>
    <div class="card-body">
      <h5 class="card-title">What's going on here?</h5>
      <p class="card-text">Cryptonic encrypts your message with <b>AES</b> in the browser and sends the encrypted message to the server which stores this message in a database. 
        You'll receive a link which contains the <b>id</b> of the message (which is used to determine the message on the server) and the key which is never sends to the server.
         That means that the server has no knowledge about the decrypted message and can't reconstruct this message. 
         In case you enter the url containing the id and the key, the client will request the encrypted message from the server and decrypt it in the browser.
         The idea is copied from <a href="https://github.com/sebsauvage/ZeroBin">Zerobin</a>


      </p>
    </div>
  </div>
</div>