/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
}

%shadow{
    -webkit-box-shadow: 0px 4px 10px 0px rgba(221, 131, 131, 0.62);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.62);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.62);
  }


nav, footer{
    width: 100%; 
    @extend %shadow;
    padding: 2%; 
}

body{
    margin: 0; 
    background: #ffd905;
}

.content{
    padding: 3%; 
}

.text-area-input{
    width: 100%; 
    height: 25vh; 
}

textarea{
    width: 80%;
    -webkit-box-shadow: inset 0px 0px 21px -1px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 0px 21px -1px rgba(255,255,255,1);
    box-shadow: inset 0px 0px 10px 0px rgba(82, 81, 54, 1);
    background: #2d2c29 !important;
    color: white !important;
    padding: 1%;
    border-radius: 5px;
    border: 10px;
}

.mat-form-field-label{
    color: white !important; 
}

mat-form-field.input{
    width: 100%; 
}

.collapse.in{
    display:block !important;
    float: left;
    width: 100%;
}

.card{
    border: none;
    color: white;
    @extend %shadow;
}

.card-body{
    background: gray;
}
    

.card-header{
    background: #2d2c29; /* Old browsers */
    background: -moz-linear-gradient(left, #2d2c29 0%, #5b5b5b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #2d2c29 0%,#5b5b5b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #2d2c29 0%,#5b5b5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2c29', endColorstr='#5b5b5b',GradientType=1 ); /* IE6-9 */
}