/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
}

%shadow{
    -webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.62);
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.62);
  }


nav, footer{
    width: 100%; 
    @extend %shadow;
    padding: 2%; 
}

body{
    margin: 0; 
}

.content{
    padding: 3%; 
}

.text-area-input{
    width: 100%; 
    height: 300px; 
}

mat-form-field.input{
    width: 100%; 
}

.collapse.in{
    display:block !important;
    float: left;
    width: 100%;
}